<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Vue.js Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>
  <body>
    <div id="example">
      <a v-bind:href="url">テックアカデミー</a>
    </div>
    <div id="example2">
      <input v-bind:value="name">
      <p>{{ name }}</p>
    </div>
    <div id="example3">{{ new Date().toLocaleString() }}</div>
    <ul id="example4">
      <li
      v-for="member in members"
      v-bind:key="member"
      >
        {{ member }}
      </li>
      <li
      v-for="(member, index) in members"
      v-bind:key="index"
      >
        {{ index}}:{{ member }}
      </li>
    </ul>
    <ul id="example5">
      <li
       v-for="character in characters"
       v-bind:key="character"
      >
        {{ character }}
      </li>
      <li
       v-for="(character, key) in characters"
       v-bind:key="key"
      >
        {{ key }}：{{ character }}
      </li>
    </ul>
    <div id="example6">
      <input
       v-bind:value="name"
       v-on:input="name = $event.target.value"
       >
       <p>{{ name }}</p>
       <input v-model="name">
       <p>{{ name }}</p>
    </div>
    <div id="example7">
      <div>
        <p>
          身長: <input type="text" v-model="height"> cm
        </p>
        <p>
          体重: <input type="text" v-model="weight"> kg
        </p>
      </div>
      <div>
        BMI: {{ weight / ((height / 100) * (height / 100)) || "" }}
      </div>
    </div>
    <div id="example8">
      <div>
        <p>身長: <input v-model="height" type="text" />cm</p>
        <p>体重: <input v-model="weight" type="text" />kg</p>
      </div>
      <div>
        BMI: {{ bmi }}
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>